@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: $white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
}

body {
  font-family: "Inria Sans";
}

input {
  all: unset;
}

button {
  border: none;
}

img {
  width: 100%;
  height: 100%;
}
