@import "./sass/reset";
@import "./sass/colors";
@import "./sass/typo";
@import "./sass/mixins";
@import "./sass/modal";

// Ajouter dans la classList du body lorsque la modal s'ouvre
.no-scroll {
  overflow-y: hidden;
}

body {
  background-color: $lighterBlack;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  z-index: 1;

  header {
    width: 100vw;
    padding: 26px;
    margin-bottom: 73px;
    background-color: $darkerBlack;

    .container-header {
      margin: 0 auto;
      max-width: 1080px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      position: relative;

      @include ipad {
        flex-direction: row;
      }

      .logo {
        text-transform: uppercase;
        align-self: flex-start;
        @include ipad {
          align-self: auto;
        }

        @extend %typoLogo;
        span {
          color: $red;
        }
      }

      ul {
        max-width: 375px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        text-transform: uppercase;
        @extend %typoMenuBar;
        li > a {
          @include transition;
          &:hover {
            color: darken($white, 25%);
          }
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    padding-bottom: 109px;

    .searchMovie {
      display: flex;
      align-items: center;
      margin-bottom: 61px;
      .searchMovieInput {
        @extend %typoFilmPModal;
        font-size: 20px;
        font-weight: 400;
        color: $darkerBlack;
        background-color: $white;

        padding-left: 5px;
        height: 44px;
        width: 230px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .searchMovieBtn {
        background-color: $red;
        height: 44px;
        width: 44px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 24px;
          height: 18px;
        }

        @include transition;
        &:hover {
          background-color: darken($red, 20%);
        }
      }
    }

    .swipers-container {
      position: relative;
      max-width: 100%;

      h2 {
        @extend %typoH2;
        margin-bottom: 10px;
        text-align: start;
      }
      .swiper {
        max-width: 234px;
        width: 100%;
        height: 100%;

        @include ipad {
          max-width: 478px;
        }

        @include ipadPro {
          max-width: 722px;
        }
        @include laptop13 {
          max-width: 993px;
        }

        .swiper-slide {
          background-color: $darkerBlack;
          height: 351px;
          width: 234px !important;
          .card-movie {
            background-color: $darkerBlack;
            padding-top: 100px;
            padding-bottom: 35px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 351px;
            width: 234px;
            padding-inline: 30px;

            h2 {
              text-transform: uppercase;
              text-align: center;
              @extend %typoHoverTitle;
              margin-bottom: 23px;
            }
            .date {
              @extend %typoHoverDate;
              color: $grey;
              margin-bottom: 25px;
            }
            .genres {
              text-transform: capitalize;
              white-space: nowrap;
              @extend %typoHoverGenres;
              margin-bottom: 30px;
            }
            .star {
              margin-bottom: 6px;
            }
            .rate {
              color: $red;
              @extend %typoHoverRate;
            }

            position: relative;
            .poster > img {
              position: absolute;
              top: 0;
              left: 0;
              height: 351px;
              width: 234px;
              @include transition;
              &:hover {
                opacity: 0.1;
              }
            }
          }
        }
      }
      .swiper-arrow-prev {
        position: absolute;
        top: 200px;
        left: -40px;
        height: 18px;
        width: 18px;
      }
      .swiper-arrow-next {
        position: absolute;
        top: 200px;
        right: -40px;
        height: 18px;
        width: 18px;
      }
    }

    .result-container {
      margin-bottom: 95px;
    }
    .latest-releases-container {
      margin-bottom: 95px;
    }

    .movies-by-genre-titles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        @extend %typoH2;
      }
      .main-genre-title {
        margin-bottom: 46px;
      }
      .genres-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        margin-bottom: 26px;
        h2 {
          padding: 7px 10px;
          border-radius: 8px;
        }

        .active {
          background-color: $red;
        }

        @include ipad {
          width: 595px;
        }
      }
      .line {
        height: 1px;
        background-color: $white;
        width: 100%;
        margin-bottom: 29px;
      }
    }
  }
  footer {
    @extend header;
    margin-bottom: 0;
    .container-footer {
      @extend .container-header;
      flex-direction: row;
      flex-wrap: wrap;
      .right-protected {
        @extend %typoRightReserved;
        color: $grey;
        white-space: nowrap;
      }
      ul {
        display: none;
      }
      @include ipad {
        flex-wrap: nowrap;
        ul {
          display: flex;
        }
      }
    }
  }
}
