@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

body {
  font-family: "Inria Sans";
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

button {
  all: unset;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
}

body header .container-header .logo, body footer .container-header .logo, body footer .container-footer .logo {
  font-family: Inria Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.16px;
}

body header .container-header ul, body header footer .container-footer ul, body footer header .container-footer ul, body footer .container-header ul, body footer .container-footer ul, body .movieModal .text-container .genres {
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
}

body main .movies-by-genre-titles h2, body main .swipers-container h2, body .signForm .not-member, body .signForm .forgot-password, body .signForm .login-signUp-Form .remember-me {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

body footer .container-footer .right-protected {
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.79px;
}

body main .swipers-container .swiper .swiper-slide .card-movie h2 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
}

body main .swipers-container .swiper .swiper-slide .card-movie .date {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
}

body main .swipers-container .swiper .swiper-slide .card-movie .genres {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
}

body main .swipers-container .swiper .swiper-slide .card-movie .rate {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
}

body .signForm .btns {
  font-family: Inria Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.78px;
  letter-spacing: 0.03em;
}

body .signForm .login-signUp-Form button {
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  letter-spacing: 0.03em;
}

body .movieModal .text-container h2 {
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  letter-spacing: 0.03em;
}

body .movieModal .text-container .date {
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
}

body .movieModal .text-container .rate-container .rate {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
}

body main .searchMovie .searchMovieInput, body .movieModal .text-container .casting .casting-list, body .movieModal .text-container .text-description {
  font-family: Inria Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.03em;
}

body .movieModal .text-container .casting span {
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
}

/* MEDIA QUERIES */
.no-scroll {
  overflow-y: hidden;
}

body dialog {
  border: none;
  outline: none;
  background-color: #000000;
  min-height: 200px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  z-index: 1000;
  transform: translate(-50%, -50%);
}
body dialog::backdrop {
  background-color: rgba(44, 43, 43, 0.342);
}
body dialog .cross {
  position: absolute;
  top: 10px;
  left: 10px;
}
body dialog .active-red {
  background-color: #cc0000;
}
body .signForm {
  width: 100%;
  max-width: 410px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 60px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  body .signForm {
    width: auto;
    padding: 66px 100px 60px;
  }
}
body .signForm .btns {
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid #ffffff;
  display: flex;
  overflow: hidden;
  margin-bottom: 54px;
}
body .signForm .btns .SignupBtn {
  transition: all 0.5s ease-in-out;
  padding: 11px 26px 14px 32px;
  border-right: 1px solid #ffffff;
}
body .signForm .btns .LoginBtn {
  transition: all 0.5s ease-in-out;
  padding: 11px 45px 14px 32px;
  border-left: 1px solid #ffffff;
}
body .signForm .login-signUp-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
body .signForm .login-signUp-Form input {
  width: 100%;
  background-color: #ffffff;
  height: 44px;
  border-radius: 8px;
  margin-bottom: 25px;
  color: #191b20;
  padding-left: 10px;
}
body .signForm .login-signUp-Form .remember-me {
  display: flex;
  align-self: flex-start;
  gap: 5px;
  margin-bottom: 46px;
}
body .signForm .login-signUp-Form .remember-me #rememberMeLogin {
  border: none;
  height: 18px;
  width: 18px;
}
body .signForm .login-signUp-Form button {
  background-color: #cc0000;
  border-radius: 8px;
  width: 100%;
  height: 47px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
body .signForm .login-signUp-Form button:hover {
  background-color: #660000;
}
body .signForm .forgot-password {
  color: #cc0000;
}
body .signForm .not-member {
  margin-top: 19px;
  display: flex;
  gap: 5px;
}
body .signForm .not-member a {
  color: #cc0000;
}
body .movieModal {
  padding-top: 74px;
  padding-bottom: 49px;
  max-width: 350px;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 49px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  body .movieModal {
    flex-direction: row;
    align-items: start;
    max-width: 742px;
  }
}
body .movieModal .poster-container {
  display: none;
  height: 351px;
  min-width: 234px;
  border: 2px solid #ffffff;
}
@media screen and (min-width: 768px) {
  body .movieModal .poster-container {
    display: flex;
  }
}
body .movieModal .poster-container img {
  height: 100%;
  width: 100%;
}
body .movieModal .text-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}
body .movieModal .text-container h2 {
  text-transform: uppercase;
  color: #cc0000;
}
body .movieModal .text-container .date {
  margin-bottom: 11px;
}
body .movieModal .text-container .rate-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
}
body .movieModal .text-container .rate-container .star {
  height: 21px;
  width: 21px;
}
body .movieModal .text-container .rate-container .rate {
  color: #cc0000;
}
body .movieModal .text-container .genres {
  text-transform: uppercase;
  margin-bottom: 13px;
}
body .movieModal .text-container .text-description {
  margin-bottom: 28px;
}
body .movieModal .text-container .casting span {
  white-space: nowrap;
  text-transform: uppercase;
  margin-right: 5px;
}
body .movieModal .text-container .casting .casting-list {
  font-weight: 400;
}

body {
  background-color: #191b20;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
body header, body footer {
  width: 100vw;
  padding: 26px;
  margin-bottom: 73px;
  background-color: #141517;
}
body header .container-header, body header footer .container-footer, body footer header .container-footer, body footer .container-header, body footer .container-footer {
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
}
@media screen and (min-width: 768px) {
  body header .container-header, body header footer .container-footer, body footer header .container-footer, body footer .container-header, body footer .container-footer {
    flex-direction: row;
  }
}
body header .container-header .logo, body footer .container-header .logo, body footer .container-footer .logo {
  text-transform: uppercase;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  body header .container-header .logo, body footer .container-header .logo, body footer .container-footer .logo {
    align-self: auto;
  }
}
body header .container-header .logo span, body footer .container-header .logo span, body footer .container-footer .logo span {
  color: #cc0000;
}
body header .container-header ul, body header footer .container-footer ul, body footer header .container-footer ul, body footer .container-header ul, body footer .container-footer ul {
  max-width: 375px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
body header .container-header ul li > a, body header footer .container-footer ul li > a, body footer header .container-footer ul li > a, body footer .container-header ul li > a, body footer .container-footer ul li > a {
  transition: all 0.5s ease-in-out;
}
body header .container-header ul li > a:hover, body footer .container-header ul li > a:hover, body footer .container-footer ul li > a:hover {
  color: #bfbfbf;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  padding-bottom: 109px;
}
body main .searchMovie {
  display: flex;
  align-items: center;
  margin-bottom: 61px;
}
body main .searchMovie .searchMovieInput {
  font-size: 20px;
  font-weight: 400;
  color: #141517;
  background-color: #ffffff;
  padding-left: 5px;
  height: 44px;
  width: 230px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
body main .searchMovie .searchMovieBtn {
  background-color: #cc0000;
  height: 44px;
  width: 44px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
body main .searchMovie .searchMovieBtn img {
  width: 24px;
  height: 18px;
}
body main .searchMovie .searchMovieBtn:hover {
  background-color: #660000;
}
body main .swipers-container {
  position: relative;
  max-width: 100%;
}
body main .swipers-container h2 {
  margin-bottom: 10px;
  text-align: start;
}
body main .swipers-container .swiper {
  max-width: 234px;
  min-height: 351px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  body main .swipers-container .swiper {
    max-width: 478px;
  }
}
@media screen and (min-width: 1024px) {
  body main .swipers-container .swiper {
    max-width: 722px;
  }
}
@media screen and (min-width: 1280px) {
  body main .swipers-container .swiper {
    max-width: 993px;
  }
}
body main .swipers-container .swiper .swiper-slide {
  background-color: #141517;
  height: 351px;
  width: 234px !important;
}
body main .swipers-container .swiper .swiper-slide .card-movie {
  background-color: #141517;
  padding-top: 100px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 351px;
  width: 234px;
  padding-inline: 30px;
  position: relative;
}
body main .swipers-container .swiper .swiper-slide .card-movie h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 23px;
}
body main .swipers-container .swiper .swiper-slide .card-movie .date {
  color: #b8b8b8;
  margin-bottom: 25px;
}
body main .swipers-container .swiper .swiper-slide .card-movie .genres {
  text-transform: capitalize;
  white-space: nowrap;
  margin-bottom: 30px;
}
body main .swipers-container .swiper .swiper-slide .card-movie .star {
  margin-bottom: 6px;
}
body main .swipers-container .swiper .swiper-slide .card-movie .rate {
  color: #cc0000;
}
body main .swipers-container .swiper .swiper-slide .card-movie .poster > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 351px;
  width: 234px;
  transition: all 0.5s ease-in-out;
}
body main .swipers-container .swiper .swiper-slide .card-movie .poster > img:hover {
  opacity: 0.1;
}
body main .swipers-container .swiper-arrow-prev {
  position: absolute;
  top: 200px;
  left: -40px;
  height: 18px;
  width: 18px;
}
body main .swipers-container .swiper-arrow-next {
  position: absolute;
  top: 200px;
  right: -40px;
  height: 18px;
  width: 18px;
}
body main .result-container {
  display: none;
  margin-bottom: 95px;
}
body main .latest-releases-container {
  margin-bottom: 95px;
}
body main .movies-by-genre-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .movies-by-genre-titles .main-genre-title {
  margin-bottom: 46px;
}
body main .movies-by-genre-titles .genres-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 26px;
}
body main .movies-by-genre-titles .genres-name h2 {
  padding: 7px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
body main .movies-by-genre-titles .genres-name .active {
  background-color: #cc0000;
}
@media screen and (min-width: 768px) {
  body main .movies-by-genre-titles .genres-name {
    width: 595px;
  }
}
body main .movies-by-genre-titles .line {
  height: 1px;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 29px;
}
body footer {
  margin-bottom: 0;
}
body footer .container-footer {
  flex-direction: row;
  flex-wrap: wrap;
}
body footer .container-footer .right-protected {
  color: #b8b8b8;
  white-space: nowrap;
}
body footer .container-footer ul {
  display: none;
}
@media screen and (min-width: 768px) {
  body footer .container-footer {
    flex-wrap: nowrap;
  }
  body footer .container-footer ul {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */