@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Inria Sans";
}

input {
  all: unset;
}

button {
  border: none;
}

img {
  width: 100%;
  height: 100%;
}

body header .container-header .logo {
  font-family: Inria Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.16px;
}

body header .container-header ul {
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
}

body .card-movie h2 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
}

body .card-movie .date {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
}

body .card-movie .genres {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
}

body .card-movie .rate {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
}

body main .searchMovie .searchMovieInput {
  font-family: Inria Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* MEDIA QUERIES */
body {
  background-color: #191b20;
  display: flex;
  flex-direction: column;
}
body header {
  width: 100vw;
  padding: 26px;
  margin-bottom: 73px;
  background-color: #141517;
}
body header .container-header {
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
}
@media screen and (min-width: 768px) {
  body header .container-header {
    flex-direction: row;
  }
}
body header .container-header .logo {
  text-transform: uppercase;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  body header .container-header .logo {
    align-self: auto;
  }
}
body header .container-header .logo span {
  color: #cc0000;
}
body header .container-header ul {
  max-width: 375px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
body header .container-header ul li > a {
  transition: all 0.5s ease-in-out;
}
body header .container-header ul li > a:hover {
  color: #bfbfbf;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
body main .searchMovie {
  display: flex;
  align-items: center;
}
body main .searchMovie .searchMovieInput {
  font-size: 20px;
  font-weight: 400;
  color: #141517;
  background-color: #ffffff;
  padding-left: 5px;
  height: 44px;
  width: 230px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
body main .searchMovie .searchMovieBtn {
  background-color: #cc0000;
  height: 44px;
  width: 44px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
body main .searchMovie .searchMovieBtn img {
  width: 24px;
  height: 18px;
}
body main .searchMovie .searchMovieBtn:hover {
  background-color: #660000;
}
body .card-movie {
  margin: 0 auto;
  background-color: #141517;
  padding-top: 100px;
  padding-bottom: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 360px;
  width: 264px;
  padding-inline: 30px;
  position: relative;
}
body .card-movie h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 23px;
}
body .card-movie .date {
  color: #b8b8b8;
  margin-bottom: 25px;
}
body .card-movie .genres {
  text-transform: uppercase;
  margin-bottom: 30px;
}
body .card-movie .star {
  margin-bottom: 6px;
}
body .card-movie .rate {
  color: #cc0000;
}
body .card-movie .poster {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
body .card-movie .poster:hover {
  opacity: 0.1;
}/*# sourceMappingURL=style.css.map */